section.info
  .info__container.container

    .info__header
      h2.title-section Полезная информация

    .info__content

      .info__article-list
        a.info__article-item(href="##" style="background-image: url('./assets/img/info/01.png')")
          span.info__article-item-title Профилак-тические упражнения
        a.info__article-item(href="##" style="background-image: url('./assets/img/info/02.png')")
          span.info__article-item-title Диагностика и способы лечения
        a.info__article-item(href="##" style="background-image: url('./assets/img/info/03.png')")
          span.info__article-item-title Планы по питанию
        a.info__article-item.info__article-item--bg-accent(href="##")
          span.info__article-item-title Факты <br> о варикозе

      a.button.button-outline-accent.info__button(href="##") Подробнее >
