section.hero
  .hero__container.container
    h1 Надежный <br> помощник <br> в лечении <br> варикоза

    .hero__slider.hero-slider.swiper
      .swiper-wrapper

        .swiper-slide.hero-slider__slide
          img(src="./assets/img/hero/01.png")
        .swiper-slide.hero-slider__slide
          img(src="./assets/img/hero/02.png")
        .swiper-slide.hero-slider__slide
          img(src="./assets/img/hero/03.png")

      .swiper-pagination
