section.advantages
  .advantages__container.container
    ul.advantages__list

      li.advantages__item
        img.advantages__icon(src="./assets/img/advantages/efficiency.svg")
        span.advantages__text Доказанная <br> эффективность

      li.advantages__item
        img.advantages__icon(src="./assets/img/advantages/dosage.svg")
        span.advantages__text Новая дозировка <br> 100 мг + 900 мг

      li.advantages__item
        img.advantages__icon(src="./assets/img/advantages/convenience.svg")
        span.advantages__text Удобный прием. <br> Одна таблетка в сутки*
        .info-hover
          span.info-text Текст подсказки
