.disclaimer.disclaimer--closing
  .disclaimer__container.container
    p.disclaimer__text Имеются противопоказания, необходимо ознакомиться с&nbsp;инструкцией или получить консультацию специалиста
    button.disclaimer__close
