section.about
  .about__container.container
    .about__header
      h2.title-section О препарате
      p.about__header-text Венарус показан для терапии симптомов хронических заболеваний вен (устранения и облегчения симптомов).
      a.about__header-link.link(href="##") Подробнее >

    .about__content

      ul.about__list

        li.about__item
          include ../../img/icons/about/01.svg
          span.about__item-desc Помогает предотвратить судороги

        li.about__item
          include ../../img/icons/about/02.svg
          span.about__item-desc Способствует снижению тяжести в ногах

        li.about__item
          include ../../img/icons/about/03.svg
          span.about__item-desc Способствует снижению болевых ощущений

