extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/hero/hero
  include ../components/disclaimer/disclaimer--closing
  include ../components/marquee/marquee
  include ../components/advantages/advantages
  include ../components/about/about
  include ../components/opinion/opinion
  include ../components/info/info
  include ../components/where-to-buy/where-to-buy

  include ../components/disclaimer/disclaimer







