extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/hero/hero
  include ../components/disclaimer/disclaimer--closing
  include ../components/marquee/marquee
  include ../components/advantages/advantages

  include ../components/disclaimer/disclaimer







