section.where-to-buy
  .where-to-buy__container.container

    .where-to-buy__header.section__header
      h2.title-section Где купить
      p Ветонизирующее средство ВЕНАРУС вы можете приобрести в аптеках вашего города

    .where-to-buy__content
      img(src="./assets/img/hero/group.png")

      .where-to-buy__buttons
        a.button.button-outline-accent(href="##") apteka.ru
        a.button.button-outline-accent(href="##") 366.ru
        a.button.button-outline-accent(href="##") stolichki.ru
