.marquee
  .marquee__container(aria-hidden="true")
    span.marquee__item получить скидку 10% >>>
    span.marquee__item получить скидку 10% >>>
    span.marquee__item получить скидку 10% >>>
    span.marquee__item получить скидку 10% >>>

