header.header
  .header__container.container
    a.header__logo(href="index.html")
      img.header__logo-icon(src="./assets/img/logo.svg")

    nav.header__nav
      a.button.button-accent.header__button(href="#whereToBuy") Где купить

      button.header__burger
        include ../../img/icons/burger.svg

      .header__nav-menu
        ul.header__nav-list
          li
            a.header__nav-link(href="") Где купить
          li
            a.header__nav-link(href="") О препарате
          li
            a.header__nav-link(href="") О варикозе
          li
            a.header__nav-link(href="") Решение
          li
            a.header__nav-link(href="") Специалистам




