footer.footer
  .footer__container.container

    .footer__col
      a.footer__link(href="") Сообщить о нежелательном явлении

    .footer__col
      a.footer__link(href="") Условия пользования сайтом и файлами Cookies

      .footer__contacts
        span.footer__address г. Москва, ул. Шаболовка, д. 31, стр. 11
        span.footer__tel Телефон
          a(href="tel:+74955555555") +7 (495) 555-55-55

    .footer__col
      .footer__social
        a.footer__social-link(href="")
          img(src="./assets/img/icons/vk.svg")
        a.footer__social-link(href="")
          img(src="./assets/img/icons/ok.svg")

      a(href="").footer__site-author.site-author
        img.site-author__logo(src="./assets/img/icons/farm-logo.svg")
        span.site-author__name Создание сайтов <br> Фарм-студия №1 в Рунете




