section.opinion
  .opinion__container.container
    .section__header
      h2.title-section Мнение специалистов
      p Фармакотерапия — неотъемлемый компонент современного лечения хронического заболевания вен.

    .opinion__content

      .swiper.opinion__slider
        .swiper-wrapper
          .swiper-slide
            video.hero__video(preload='auto' muted loop src='./assets/video/01.mp4')
            a.button-video(data-src="./assets/video/01.mp4" data-fancybox)
              img(src="./assets/img/icons/play.svg")
          .swiper-slide
            video.hero__video(preload='auto' muted loop src='./assets/video/02.mp4')
            a.button-video(data-src="./assets/video/02.mp4" data-fancybox)
              img(src="./assets/img/icons/play.svg")
          .swiper-slide
            video.hero__video(preload='auto' muted loop src='./assets/video/03.mp4')
            a.button-video(data-src="./assets/video/03.mp4" data-fancybox)
              img(src="./assets/img/icons/play.svg")

        .swiper-pagination

